node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.*
.vscode
.idea
coverage
.nyc_output
.DS_Store
*.log
test
e2e
.eslintrc.js
.prettierrc
jest.config.js
tsconfig.build.json
.github
charts
k8s